:root {
  --color-black: #000000;
  --color-black-transparent: rgba(0, 0, 0, 0.8);
  --color-white: #ffffff;
  --color-grey: grey #f5f5f5;
  --color-accent: #18a0fb;
}
body {
  background-color: #ffffff;
  color: var(--color-black-transparent);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}
.list {
  list-style: none;
}
/* color text black #000000; */
/* color text p rgba(0, 0, 0, 0.8); */
/* color white #FFFFFF; */
/* color accent  #18A0FB*/
/* color background grey #F5F5F5; */

/* logo */
.logo {
  color: var(--color-black);
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover {
  color: var(--color-accent);
}

/* site-nav */

.site-nav .link {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-black);
}

.site-nav .link.current {
  color: var(--color-black);
}

/* hero */
.hero-title {
  color: var(--color-black);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/* section */
.section-title {
  color: var(--color-black);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

/* features */
.feature-list .title,
.work-list .title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* examples of work */
/*.work-list .title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* button */
.button {
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.button.primary {
  background-color: var(--color-white);
  color: var(--color-accent);
}

.button.secondary {
  background-color: var(--color-accent);
  color: var(--color-white);
}
